<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<br>
<br>
<div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please update your password</h3>
			 	</div>
			  	<div class="panel-body">
			    	 <form method="post" action=" ">{% csrf_token %}
                    <fieldset>
			    	  	<div class="form-group">
			    		    <tr><th><label for="id_old_passwd">Old Password:</label></th><br><td>{{ form.old_password }}</td></tr>
			    		</div>
			    		<div class="form-group">
			    			 <tr><th><label for="id_new_passwd">New Password:</label></th><br><td>{{ form.new_password1 }}</td></tr>
			    		</div>
              <div class="form-group">
			    			 <tr><th><label for="id_new_repasswd">Re-Type New Password:</label><br><td>{{ form.new_password2 }}</td></tr>
			    		</div>
               {% if form.errors %}
               <p>Error with old password or new passwords didn't match retyped password. Please try again.</p>
               {% endif %}    
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Update">
              <input type="hidden" name="next" value="/password_change_done" />
              <a href="/home">Return Home</a>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>